@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.App {
  text-align: center;
}

ul {
  list-style: none;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  padding: 0.3rem 5rem;
}
.wrapperBig {
  padding: 0.3rem 5rem;
}

.headerTitle {
  text-align: center;
  font-size: 26px;
  margin: 2rem;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
}
.headerTitle span {
  color: #0072bc;
}

.colortext {
  color: #0072bc;
}
