.App {
  text-align: center;
}

ul {
  list-style: none;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: sans-serif;
}

.wrapper {
  padding: 0.3rem 5rem;
}
